<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Twitter App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="center-content">
<div class="container">
    <form action="{{ url_for('analysis') }}" method="post">
        <input type="text" required name="twitter_handle" placeholder="@username">
        <button type="submit">Analyze</button>
    </form>
    <p><a href="{{ url_for('logout') }}">Log out</a></p>
</div>
</body>
</html>